
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <title>Success</title>
</head>
<body>
    <%- include('./header') %>
    <h1>
        You have successfully joined the club. Please Sign out and Sign in again, to see the changes.
    </h1>
</body>
</html>