<div class="msg-card">
    <h3 class="msg-author">Author</h3>
    <div class="msg-content">
        <h4 class="msg-title">some title</h4>
        <p class="msg-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non laborum doloribus vel neque facilis quaerat, quo aut adipisci ipsam repellat dolore? </p>
        <p class="msg-time">22:45</p>
    </div>
</div>